aiohappyeyeballs==2.6.1
aiohttp==3.13.4
aiosignal==1.4.0
attrs==26.1.0
cffi==2.0.0
cryptnoxpy==2.5.6
cryptography==46.0.6
frozenlist==1.8.0
idna==3.11
libusb1==3.3.1
multidict==6.7.1
ndeflib==0.3.3
nfcpy==1.0.4
propcache==0.4.1
psycopg==3.3.3
pycparser==3.0
pyDes==2.0.1
pyscard==2.3.1
pyserial==3.5
yarl==1.23.0
